.frame-child4 {
  height: 47px;
  width: 344px;
  position: relative;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.32);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.vector-icon2 {
  height: 24px;
  width: 20px;
  min-height: 24px;
}
.new-delhi-delhi,
.vector-icon2 {
  position: relative;
  z-index: 1;
}
.rectangle-parent1 {
  flex: 1;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.32);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-3xl) var(--padding-2xs);
  box-sizing: border-box;
  gap: var(--gap-xs);
  white-space: nowrap;
  max-width: 100%;
}
.address-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-7xl) 0 var(--padding-xl);
  max-width: 100%;
}
.address,
.address-inner,
.component-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.component-child {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 var(--padding-xl);
  max-width: 100%;
}
.address {
  width: 100%;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 108px;
  gap: 41px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-hanuman);
}
