.scanner-screen-child {
  width: 100%;
  height: 569px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.frame-item {
  height: 49px;
  width: 125px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-mediumseagreen);
  display: none;
}
.vector-icon {
  width: 25px;
  height: 24px;
  position: relative;
  z-index: 2;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.flash {
  position: relative;
  display: inline-block;
  min-width: 73px;
  z-index: 2;
}
.rectangle-group,
.scanner-screen {
  border-radius: var(--br-xs);
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-group {
  width: 125px;
  background-color: var(--color-mediumseagreen);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-3xs) var(--padding-11xs) var(--padding-10xs);
  gap: var(--gap-xs);
  z-index: 1;
}
.scanner-screen {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-54xl) var(--padding-5xl) 59px var(--padding-xl);
  gap: 411px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-hanuman);
}
