.component-60-icon {
  align-self: stretch;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: 1de1738;
  object-fit: contain;
  position: absolute;
  left: -3px;
  top: 7px;
  width: 100%;
  transform: scale(1.432);
}
