.component-10-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-100);
}
.vector-icon27 {
  width: 40px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  top: 16px;
  right: 13px;
  z-index: 1;
}
.grocery {
  position: relative;
  display: inline-block;
  min-width: 67px;
}
.component-10 {
  height: 100px;
  width: 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-hanuman);
}
