/* ul li{
    list-style: none;
    display: inline;
    padding: 10px;
    margin: 20px;
    font-size: larger;
    color: brown;
}

ul{
    background-color: brown;
    float:none;
    text-align: center;

}

li a{
    color: beige;
    text-decoration: none;
} */